.paraclass{
    font-size:1.17rem;
    font-style: fantasy;color:black;  translate: rotateX(0deg);
}
#list1{
    display:flex; padding-top:0.5rem;
}
#list1 li{
      padding-right:4rem;   padding-left:2rem; align-items: center;
}
#footerlist li a{
    color:black; font-size: 15px; text-decoration:none;
}
.div12{
    display: none;
}
.atheltics:hover + .div12{
  display:block;
  color: red;
}