body{
    background:radial-gradient(#e5e5e5,#ffffff,#e5e5e5);
}
.card{
    width: 19.75rem;
    height:18rem;
}
.card-image{
    height: 150px !important;
}
.card:hover{
    box-shadow:5px 10px 20px 1px rgba(0,0,0,0.253) !important;
}
.card-body{
    padding:1rem !important;
}
.card-text{
    font-size:0.9rem;
    padding:0.4rem 1.9rem;
}
.container-fluid.row{
    padding-top:3rem;
    padding-bottom:2rem;
}
.overflow{
    overflow:hidden;
}
.card-img-top{
    transform:scale(1);
    transition:transform 0.5s ease;
}
.card-img-top:hover{
    transform:scale(1.8);
}
.pad1{
    height:280px!important;
}
.img-container{
    overflow: hidden!important;
}
.card-content{
    padding-top:0.2rem!important;
}
.btn{
    padding-bottom:1rem!important;
}


